<h4>Information about event</h4>

<table class="table">
  <thead>
  <tr>
    <th>Data</th>
    <th>Source</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Method</td>
    <td><code>static</code></td>
    <td><pre><%= @event.method %></pre></td>
  </tr>
  <tr>
    <td>Body</td>
    <td><code>static</code></td>
    <td><pre><%= @event.body %></pre></td>
  </tr>
  <% @event.properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><code><%= property.source %></code></td>
        <td><pre><%= property.value %></pre></td>
      </tr>
  <% end %>
  </tbody>
</table>